certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
requests==2.31.0
tqdm==4.66.2
urllib3==2.2.2
tox==4.14.1
wheel==0.42.0
setuptools==69.1.1
twine==5.0.0
build==1.1.1
httpx==0.27.0
pydantic==2.9.2
pywin32==306; sys_platform == 'win32'
uvicorn==0.32.1